.gradle
build/
Datasets/
others/*
tools/*
SavedArff/*
__SavedModels1/*

documents/books/*
documents/*.pdf
documents/**/*.pdf
src/main/R/*.tex
src/main/R/.Rhistory
src/main/R/*.log
src/main/R/*.pdf
src/main/R/*.synctex.gz
*.sublime-workspace
*.db
*.docx
.Rproj.user
.RData
SeaAnomaliesUnsupervised.txt
*.aux

